h4 {
  font-size: 30px;
  color: white;
  margin-left: 0.5rem;
  padding: 0;
  font-family: Lobster;
}

body {
  padding-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-family: Caviar Dreams;
  border-radius: 20px;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
}

.submitBtn {
  font-family: Caviar Dreams;
  justify-content: center;
  border-radius: 35px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #fff;
  background-color: #3588af;
  border: none;

  box-shadow: 0 9px rgb(77, 75, 75);
}

.submitBtn:hover {
  background-color: #a6ecffd5;
}

.submitBtn:active {
  background-color: #3f82a8;
  box-shadow: 0 5px rgb(43, 42, 42);
  transform: translateY(4px);
}
.notes-box {
  font-family: Caviar Dreams;
  border-radius: 20px;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
}
