.App-body {
  background-color: #282c34;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  padding-top: 1rem;
  padding-right: 3rem;
}
.titleLogo {
  padding-top: 4rem;
  font-family: "Lobster";
  color: white;
  font-size: 190px;
  display: flex;
  justify-content: center;
}
